<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>新規作成</title>

    <script src="/assets/js/metrixir.client.js"></script>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment metrixir">
                        <h1 class="ui aligned header teal">お申込み情報</h1>

                        <form class="ui form" method="post" action="/cardOrder/user">

                            <!-- /*エラーがあれば表示する*/ -->
                            <ul class="ui red basic label" th:if="${form.hasErrors()}">
                                <li th:each="error : ${form.getErrors().entrySet()}" th:text="${error.value}"></li>
                            </ul>

                            <div class="ui horizontal divider">ご本人について</div>

                            <div class="field" th:classappend="${form.hasErrors('kanjiName')} ? 'error'">
                                <font color="red">必須</font>
                                <label>お名前（漢字） (例)姓:山田　名：太郎</label>
                                姓：<input type="text" style = "width:150px;" name="kanjiName" th:value="${form.kanjiName}"/>
                                名：<input type="text" style = "width:150px;" name="kanjiName1" th:value="${form.kanjiName1}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('kanaName')} ? 'error'">
                                <font color="red">必須</font>
                                <label>お名前（カナ）(例)姓:ヤマダ　名：タロウ</label>
                                セイ:
                                <input type="text" style = "width:150px;" name="kanaName" th:value="${form.kanaName}"/>
                                メイ:
                                <input type="text" style = "width:150px" name="kanaName1" th:value="${form.kanaName1}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('alphabetName')} ? 'error'">
                                <font color="red">必須</font>
                                <label>お名前（ローマ字）(例)姓:YAMADA　名：TARO</label>
                                姓（Last name）
                                <input type="text"style = "width:150px;"  name="alphabetName" th:value="${form.alphabetName}"/>
                                名（first name）
                                <input type="text" style = "width:150px;" name="alphabetName1" th:value="${form.alphabetName1}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('gender')} ? 'error'">
                                <font color="red">必須</font>
                                <label>性別</label>
                                <input type="radio" name="gender" value="male" th:checked="${form.gender}=='male'"/>男性
                                <input type="radio" name="gender" value="female" th:checked="${form.gender}=='female'"/>女性
                            </div>

                            <div class="field">
                                <font color="red">必須</font>
                                <label>生年月日</label>
                            </div>
                                <div style="float:left;width:100px" th:classappend="${form.hasErrors('yearOfBirth')} ? 'error'">
                                    <select name="yearOfBirth">
                                        <option value="">--</option>
                                        <option value="1930" th:selected="${form.yearOfBirth}=='1930'"/>1930</option>
                                        <option value="1931" th:selected="${form.yearOfBirth}=='1931'"/>1931</option>
                                        <option value="1932" th:selected="${form.yearOfBirth}=='1932'"/>1932</option>
                                        <option value="1933" th:selected="${form.yearOfBirth}=='1933'"/>1933</option>
                                        <option value="1934" th:selected="${form.yearOfBirth}=='1934'"/>1934</option>
                                        <option value="1935" th:selected="${form.yearOfBirth}=='1935'"/>1935</option>
                                        <option value="1936" th:selected="${form.yearOfBirth}=='1936'"/>1936</option>
                                        <option value="1937" th:selected="${form.yearOfBirth}=='1937'"/>1937</option>
                                        <option value="1938" th:selected="${form.yearOfBirth}=='1938'"/>1938</option>
                                        <option value="1939" th:selected="${form.yearOfBirth}=='1939'"/>1939</option>
                                        <option value="1940" th:selected="${form.yearOfBirth}=='1940'"/>1940</option>
                                        <option value="1941" th:selected="${form.yearOfBirth}=='1941'"/>1941</option>
                                        <option value="1942" th:selected="${form.yearOfBirth}=='1942'"/>1942</option>
                                        <option value="1943" th:selected="${form.yearOfBirth}=='1943'"/>1943</option>
                                        <option value="1944" th:selected="${form.yearOfBirth}=='1944'"/>1944</option>
                                        <option value="1945" th:selected="${form.yearOfBirth}=='1945'"/>1945</option>
                                        <option value="1946" th:selected="${form.yearOfBirth}=='1946'"/>1946</option>
                                        <option value="1947" th:selected="${form.yearOfBirth}=='1947'"/>1947</option>
                                        <option value="1948" th:selected="${form.yearOfBirth}=='1948'"/>1948</option>
                                        <option value="1949" th:selected="${form.yearOfBirth}=='1949'"/>1949</option>
                                        <option value="1950" th:selected="${form.yearOfBirth}=='1950'"/>1950</option>
                                        <option value="1951" th:selected="${form.yearOfBirth}=='1951'"/>1951</option>
                                        <option value="1952" th:selected="${form.yearOfBirth}=='1952'"/>1952</option>
                                        <option value="1953" th:selected="${form.yearOfBirth}=='1953'"/>1953</option>
                                        <option value="1954" th:selected="${form.yearOfBirth}=='1954'"/>1954</option>
                                        <option value="1955" th:selected="${form.yearOfBirth}=='1955'"/>1955</option>
                                        <option value="1956" th:selected="${form.yearOfBirth}=='1956'"/>1956</option>
                                        <option value="1957" th:selected="${form.yearOfBirth}=='1957'"/>1957</option>
                                        <option value="1958" th:selected="${form.yearOfBirth}=='1958'"/>1958</option>
                                        <option value="1959" th:selected="${form.yearOfBirth}=='1959'"/>1959</option>
                                        <option value="1960" th:selected="${form.yearOfBirth}=='1960'"/>1960</option>
                                        <option value="1961" th:selected="${form.yearOfBirth}=='1961'"/>1961</option>
                                        <option value="1962" th:selected="${form.yearOfBirth}=='1962'"/>1962</option>
                                        <option value="1963" th:selected="${form.yearOfBirth}=='1963'"/>1963</option>
                                        <option value="1964" th:selected="${form.yearOfBirth}=='1964'"/>1964</option>
                                        <option value="1965" th:selected="${form.yearOfBirth}=='1965'"/>1965</option>
                                        <option value="1966" th:selected="${form.yearOfBirth}=='1966'"/>1966</option>
                                        <option value="1967" th:selected="${form.yearOfBirth}=='1967'"/>1967</option>
                                        <option value="1968" th:selected="${form.yearOfBirth}=='1968'"/>1968</option>
                                        <option value="1969" th:selected="${form.yearOfBirth}=='1969'"/>1969</option>
                                        <option value="1970" th:selected="${form.yearOfBirth}=='1970'"/>1970</option>
                                        <option value="1971" th:selected="${form.yearOfBirth}=='1971'"/>1971</option>
                                        <option value="1972" th:selected="${form.yearOfBirth}=='1972'"/>1972</option>
                                        <option value="1973" th:selected="${form.yearOfBirth}=='1973'"/>1973</option>
                                        <option value="1974" th:selected="${form.yearOfBirth}=='1974'"/>1974</option>
                                        <option value="1975" th:selected="${form.yearOfBirth}=='1975'"/>1975</option>
                                        <option value="1976" th:selected="${form.yearOfBirth}=='1976'"/>1976</option>
                                        <option value="1977" th:selected="${form.yearOfBirth}=='1977'"/>1977</option>
                                        <option value="1978" th:selected="${form.yearOfBirth}=='1978'"/>1978</option>
                                        <option value="1979" th:selected="${form.yearOfBirth}=='1979'"/>1979</option>
                                        <option value="1980" th:selected="${form.yearOfBirth}=='1980'"/>1980</option>
                                        <option value="1981" th:selected="${form.yearOfBirth}=='1981'"/>1981</option>
                                        <option value="1982" th:selected="${form.yearOfBirth}=='1982'"/>1982</option>
                                        <option value="1983" th:selected="${form.yearOfBirth}=='1983'"/>1983</option>
                                        <option value="1984" th:selected="${form.yearOfBirth}=='1984'"/>1984</option>
                                        <option value="1985" th:selected="${form.yearOfBirth}=='1985'"/>1985</option>
                                        <option value="1986" th:selected="${form.yearOfBirth}=='1986'"/>1986</option>
                                        <option value="1987" th:selected="${form.yearOfBirth}=='1987'"/>1987</option>
                                        <option value="1988" th:selected="${form.yearOfBirth}=='1988'"/>1988</option>
                                        <option value="1989" th:selected="${form.yearOfBirth}=='1989'"/>1989</option>
                                        <option value="1990" th:selected="${form.yearOfBirth}=='1990'"/>1990</option>
                                        <option value="1991" th:selected="${form.yearOfBirth}=='1991'"/>1991</option>
                                        <option value="1992" th:selected="${form.yearOfBirth}=='1992'"/>1992</option>
                                        <option value="1993" th:selected="${form.yearOfBirth}=='1993'"/>1993</option>
                                        <option value="1994" th:selected="${form.yearOfBirth}=='1994'"/>1994</option>
                                        <option value="1995" th:selected="${form.yearOfBirth}=='1995'"/>1995</option>
                                        <option value="1996" th:selected="${form.yearOfBirth}=='1996'"/>1996</option>
                                        <option value="1997" th:selected="${form.yearOfBirth}=='1997'"/>1997</option>
                                        <option value="1998" th:selected="${form.yearOfBirth}=='1998'"/>1998</option>
                                        <option value="1999" th:selected="${form.yearOfBirth}=='1999'"/>1999</option>
                                        <option value="2000" th:selected="${form.yearOfBirth}=='2000'"/>2000</option>
                                        <option value="2001" th:selected="${form.yearOfBirth}=='2001'"/>2001</option>
                                        <option value="2002" th:selected="${form.yearOfBirth}=='2002'"/>2002</option>
                                        <option value="2003" th:selected="${form.yearOfBirth}=='2003'"/>2003</option>
                                        <option value="2004" th:selected="${form.yearOfBirth}=='2004'"/>2004</option>
                                        <option value="2005" th:selected="${form.yearOfBirth}=='2005'"/>2005</option>
                                        <option value="2006" th:selected="${form.yearOfBirth}=='2006'"/>2006</option>
                                        <option value="2007" th:selected="${form.yearOfBirth}=='2007'"/>2007</option>
                                        <option value="2008" th:selected="${form.yearOfBirth}=='2008'"/>2008</option>
                                        <option value="2009" th:selected="${form.yearOfBirth}=='2009'"/>2009</option>
                                    </select>
                                </div>
                            <div style="float:left;"> 年</div>
                                <div style="float:left;width:100px" th:classappend="${form.hasErrors('monthOfBirth')} ? 'error'">
                                     <select name="monthOfBirth">
                                    <option value="">--</option>
                                    <option value="1" th:selected="${form.monthOfBirth}=='1'"/>1</option>
                                    <option value="2" th:selected="${form.monthOfBirth}=='2'"/>2</option>
                                    <option value="3" th:selected="${form.monthOfBirth}=='3'"/>3</option>
                                    <option value="4" th:selected="${form.monthOfBirth}=='4'"/>4</option>
                                    <option value="5" th:selected="${form.monthOfBirth}=='5'"/>5</option>
                                    <option value="6" th:selected="${form.monthOfBirth}=='6'"/>6</option>
                                    <option value="7" th:selected="${form.monthOfBirth}=='7'"/>7</option>
                                    <option value="8" th:selected="${form.monthOfBirth}=='8'"/>8</option>
                                    <option value="9" th:selected="${form.monthOfBirth}=='9'"/>9</option>
                                    <option value="10" th:selected="${form.monthOfBirth}=='10'"/>10</option>
                                    <option value="11" th:selected="${form.monthOfBirth}=='11'"/>11</option>
                                    <option value="12" th:selected="${form.monthOfBirth}=='12'"/>12</option>
                                </select>
                                    </div>
                            <div style="float:left;"> 月</div>
                                <div style="float:left;width:100px" th:classappend="${form.hasErrors('dayOfBirth')} ? 'error'">
                                     <select name="dayOfBirth">
                                    <option value="">--</option>
                                    <option value="1" th:selected="${form.dayOfBirth}=='1'"/>1</option>
                                    <option value="2" th:selected="${form.dayOfBirth}=='2'"/>2</option>
                                    <option value="3" th:selected="${form.dayOfBirth}=='3'"/>3</option>
                                    <option value="4" th:selected="${form.dayOfBirth}=='4'"/>4</option>
                                    <option value="5" th:selected="${form.dayOfBirth}=='5'"/>5</option>
                                    <option value="6" th:selected="${form.dayOfBirth}=='6'"/>6</option>
                                    <option value="7" th:selected="${form.dayOfBirth}=='7'"/>7</option>
                                    <option value="8" th:selected="${form.dayOfBirth}=='8'"/>8</option>
                                    <option value="9" th:selected="${form.dayOfBirth}=='9'"/>9</option>
                                    <option value="10" th:selected="${form.dayOfBirth}=='10'"/>10</option>
                                    <option value="11" th:selected="${form.dayOfBirth}=='11'"/>11</option>
                                    <option value="12" th:selected="${form.dayOfBirth}=='12'"/>12</option>
                                    <option value="13" th:selected="${form.dayOfBirth}=='13'"/>13</option>
                                    <option value="14" th:selected="${form.dayOfBirth}=='14'"/>14</option>
                                    <option value="15" th:selected="${form.dayOfBirth}=='15'"/>15</option>
                                    <option value="16" th:selected="${form.dayOfBirth}=='16'"/>16</option>
                                    <option value="17" th:selected="${form.dayOfBirth}=='17'"/>17</option>
                                    <option value="18" th:selected="${form.dayOfBirth}=='18'"/>18</option>
                                    <option value="19" th:selected="${form.dayOfBirth}=='19'"/>19</option>
                                    <option value="20" th:selected="${form.dayOfBirth}=='20'"/>20</option>
                                    <option value="21" th:selected="${form.dayOfBirth}=='21'"/>21</option>
                                    <option value="22" th:selected="${form.dayOfBirth}=='22'"/>22</option>
                                    <option value="23" th:selected="${form.dayOfBirth}=='23'"/>23</option>
                                    <option value="24" th:selected="${form.dayOfBirth}=='24'"/>24</option>
                                    <option value="25" th:selected="${form.dayOfBirth}=='25'"/>25</option>
                                    <option value="26" th:selected="${form.dayOfBirth}=='26'"/>26</option>
                                    <option value="27" th:selected="${form.dayOfBirth}=='27'"/>27</option>
                                    <option value="28" th:selected="${form.dayOfBirth}=='28'"/>28</option>
                                    <option value="29" th:selected="${form.dayOfBirth}=='29'"/>29</option>
                                    <option value="30" th:selected="${form.dayOfBirth}=='30'"/>30</option>
                                    <option value="31" th:selected="${form.dayOfBirth}=='31'"/>31</option>
                                </select>
                                </div>
                            <div style="float:left;"> 日</div>
                            <div class="field">
                                <font color="red">必須</font>
                                <label>郵便番号(半角数字)</label>
                            </div>
                            <div class="field" style="float:left;width:100px" th:classappend="${form.hasErrors('zipCode')} ? 'error'">
                                <!-- ▼郵便番号入力フィールド(3桁+4桁) -->
                                <input type="text" name="zipCode" size="4" maxlength="3" th:value="${form.zipCode}"/>
                            </div>
                                <div style="float:left;">－ </div>
                            <div style="float:left;width:100px" th:classappend="${form.hasErrors('zipCode1')} ? 'error'">
                                <input type="text" name="zipCode1" size="5" maxlength="4" onKeyUp="AjaxZip3.zip2addr('zipCode','zipCode1','address','address');" th:value="${form.zipCode1}"/>
                            </div>
                            <div class="field">
                                <font color="red">必須</font>
                                <label>ご住所（町名番地建物名）</label>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('address')} ? 'error'">
                                <!-- ▼住所入力フィールド(都道府県+以降の住所) -->
                                <input type="text" name="address" size="40" th:value="${form.address}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('homePhoneNumber')} ? 'error'">
                                <font color="red">必須</font>
                                <label>電話番号1(自宅・携帯)(半角数字)</label>
                                <input type="text" style = "width:100px;"  name="homePhoneNumber" th:value="${form.homePhoneNumber}"/>
                                 -
                                <input type="text" style = "width:100px;"  name="homePhoneNumber1" th:value="${form.homePhoneNumber1}"/>
                                 -
                                <input type="text" style = "width:100px;"  name="homePhoneNumber2" th:value="${form.homePhoneNumber2}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('mobilePhoneNumber')} ? 'error'">
                                <font color="blue">任意</font>
                                <label>電話番号2(携帯)(半角数字)</label>
                                <input type="text" style = "width:100px;" name="mobilePhoneNumber" th:value="${form.mobilePhoneNumber}"/>
                                 -
                                <input type="text" style = "width:100px;" name="mobilePhoneNumber1" th:value="${form.mobilePhoneNumber1}"/>
                                 -
                                <input type="text" style = "width:100px;" name="mobilePhoneNumber2" th:value="${form.mobilePhoneNumber2}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('emailAddress')} ? 'error'">
                                <font color="red">必須</font>
                                <label>メールアドレス(半角英数字)</label>
                                <input type="text" name="emailAddress" th:value="${form.emailAddress}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('spouse')} ? 'error'">
                                <font color="red">必須</font>
                                <label>配偶者有無</label>
                                <input type="radio" name="spouse" value="1" th:checked="${form.spouse}=='1'"/>配偶者あり
                                <input type="radio" name="spouse" value="0" th:checked="${form.spouse}=='0'"/>配偶者なし
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('houseClassification')} ? 'error'">
                                <font color="red">必須</font>
                                <label>お住まい</label>
                                <input type="radio" name="houseClassification" value="自己所有" th:checked="${form.houseClassification}=='自己所有'"/>本人名義の一戸建・マンション
                                <input type="radio" name="houseClassification" value="家族所有" th:checked="${form.houseClassification}=='家族所有'"/>家族名義の一戸建・マンション
                                <input type="radio" name="houseClassification" value="社宅" th:checked="${form.houseClassification}=='社宅'"/>社宅
                                <input type="radio" name="houseClassification" value="公営" th:checked="${form.houseClassification}=='公営'"/>公営住宅
                                <input type="radio" name="houseClassification" value="賃貸" th:checked="${form.houseClassification}=='賃貸'"/>賃貸マンション
                                <input type="radio" name="houseClassification" value="借家" th:checked="${form.houseClassification}=='借家'"/>借家
                                <input type="radio" name="houseClassification" value="アパート" th:checked="${form.houseClassification}=='アパート'"/>アパート
                                <input type="radio" name="houseClassification" value="寮下宿" th:checked="${form.houseClassification}=='寮下宿'"/>寮・下宿
                                <input type="radio" name="houseClassification" value="その他" th:checked="${form.houseClassification}=='その他'"/>その他
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('debt')} ? 'error'">
                                <font color="red">必須</font>
                                <label>ローン等のお借り入れ金額(半角数字)</label>
                                <input type="text" class="number" name="debt" th:value="${form.debt}"/><span class="unit">万円</span>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('income')} ? 'error'">
                                <font color="red">必須</font>
                                <label>昨年の所得(半角数字)</label>
                                <input type="text" class="number" name="income" th:value="${form.income}"/><span class="unit">万円</span>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('job')} ? 'error'">
                                <font color="red">必須</font>
                                <label>ご職業</label>
                                <input type="radio" name="job" value="経営自営" th:checked="${form.job}=='経営自営'"/>経営・自営業
                                <input type="radio" name="job" value="会社員" th:checked="${form.job}=='会社員'"/>会社員
                                <input type="radio" name="job" value="契約派遣" th:checked="${form.job}=='契約派遣'"/>契約・派遣社員
                                <input type="radio" name="job" value="公務員" th:checked="${form.job}=='公務員'"/>公務員
                                <input type="radio" name="job" value="民間団体" th:checked="${form.job}=='民間団体'"/>民間団体
                                <input type="radio" name="job" value="主婦" th:checked="${form.job}=='主婦'"/>主婦
                                <input type="radio" name="job" value="学生" th:checked="${form.job}=='学生'"/>学生
                                <input type="radio" name="job" value="年金受給" th:checked="${form.job}=='年金受給'"/>年金受給者の方
                                <input type="radio" name="job" value="パートアルバイト" th:checked="${form.job}=='パートアルバイト'"/>パート・アルバイト
                                <input type="radio" name="job" value="他有職" th:checked="${form.job}=='他有職'"/>その他 (有職）
                                <input type="radio" name="job" value="他無職" th:checked="${form.job}=='他無職'"/>その他（無職）
                            </div>

                            <!--/*"お勤め先"の入力値を引き回すための隠し項目*/-->
                            <input type="hidden" name="employerName" th:value="${form.employerName}"/>
                            <input type="hidden" name="employerZipCode" th:value="${form.employerZipCode}"/>
                            <input type="hidden" name="employerZipCode1" th:value="${form.employerZipCode1}"/>
                            <input type="hidden" name="employerAddress" th:value="${form.employerAddress}"/>
                            <input type="hidden" name="employerPhoneNumber" th:value="${form.employerPhoneNumber}"/>
                            <input type="hidden" name="industryType" th:value="${form.industryType}"/>
                            <input type="hidden" name="capital" th:value="${form.capital}"/>
                            <input type="hidden" name="companySize" th:value="${form.companySize}"/>
                            <input type="hidden" name="department" th:value="${form.department}"/>
                            <input type="hidden" name="position" th:value="${form.position}"/>
                            <input type="hidden" name="employeeLength" th:value="${form.employeeLength}"/>

                            <button class="ui fluid teal button">次へ（お勤め先情報の入力）</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
